/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .docs-LinkExample .ms-Link .root {
  color: "[theme:themePrimary, default: #0078d4]";
  margin: 0;
  overflow: inherit;
  padding: 0;
  text-overflow: inherit; }

:global .docs-LinkExample .ms-Link .isEnabled:active, :global .docs-LinkExample .ms-Link .isEnabled:hover, :global .docs-LinkExample .ms-Link .isEnabled:active:hover {
  color: "[theme:themeDarker, default: #004578]"; }

:global .docs-LinkExample .ms-Link .isEnabled:focus {
  color: "[theme:themePrimary, default: #0078d4]"; }

:global .docs-LinkExample .ms-Link .isDisabled {
  color: "[theme:neutralTertiary, default: #a6a6a6]";
  pointer-events: none;
  cursor: default; }
