/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
.suggestionsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px; }
  .suggestionsContainer :global(.ms-Suggestion-item):hover {
    background-color: "[theme:neutralLighter, default: #f4f4f4]";
    cursor: pointer; }
  .suggestionsContainer :global(.is-suggested) {
    background-color: "[theme:themeLighter, default: #deecf9]"; }
    .suggestionsContainer :global(.is-suggested):hover {
      background-color: "[theme:themeLight, default: #c7e0f4]";
      cursor: pointer; }
