/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-ListGridExample .ms-List-page {
  overflow: hidden;
  font-size: 0; }

:global .ms-ListGridExample .ms-List-surface {
  position: relative; }

:global .ms-ListGridExample-tile {
  text-align: center;
  outline: none;
  position: relative;
  background: "[theme:neutralLighter, default: #f4f4f4]"; }
  [dir='ltr'] :global .ms-ListGridExample-tile {
    float: left; }
  [dir='rtl'] :global .ms-ListGridExample-tile {
    float: right; }

:global .ms-ListGridExample-sizer {
  padding-bottom: 100%; }

:global .msListGridExample-padder {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px; }

:global .ms-Fabric--isFocusVisible .ms-ListGridExample-tile:focus:after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  box-sizing: border-box;
  border: 1px solid "[theme:white, default: #ffffff]"; }

:global .ms-ListGridExample-label {
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  left: 0;
  width: 100%;
  font-size: 12px;
  box-sizing: border-box; }

:global .ms-ListGridExample-image {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }
