/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-ListGhostingExample-container {
  overflow: auto;
  max-height: 500px; }

:global .ms-ListGhostingExample-itemCell {
  min-height: 54px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid "[theme:bodyDivider, default: #eaeaea]";
  display: flex; }
  :global .ms-ListGhostingExample-itemCell::-moz-focus-inner {
    border: 0; }
  :global .ms-ListGhostingExample-itemCell {
    outline: transparent; }
  :global .ms-ListGhostingExample-itemCell {
    position: relative; }
  :global(.ms-Fabric--isFocusVisible) :global .ms-ListGhostingExample-itemCell:focus:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid "[theme:focusBorder, default: #000000]"; }
  :global .ms-ListGhostingExample-itemCell:hover {
    background: #EEE; }

:global .ms-ListGhostingExample-itemImage {
  flex-shrink: 0; }

:global .ms-ListGhostingExample-itemContent {
  overflow: hidden;
  flex-grow: 1; }
  html[dir='ltr'] :global .ms-ListGhostingExample-itemContent {
    margin-left: 10px; }
  html[dir='rtl'] :global .ms-ListGhostingExample-itemContent {
    margin-right: 10px; }

:global .ms-ListGhostingExample-itemName {
  font-size: 21px;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

:global .ms-ListGhostingExample-itemIndex {
  font-size: 12px;
  color: "[theme:neutralTertiary, default: #a6a6a6]";
  margin-bottom: 10px; }

:global .ms-ListGhostingExample-chevron {
  align-self: center;
  color: "[theme:neutralTertiary, default: #a6a6a6]";
  font-size: 17px;
  flex-shrink: 0; }
  html[dir='ltr'] :global .ms-ListGhostingExample-chevron {
    margin-left: 10px; }
  html[dir='rtl'] :global .ms-ListGhostingExample-chevron {
    margin-right: 10px; }
