:global .ms-FacepileExample {
  max-width: 300px; }
  :global .ms-FacepileExample .control {
    padding-top: 20px; }
  :global .ms-FacepileExample .ms-Dropdown-container,
  :global .ms-FacepileExample .ms-Slider {
    margin: 10px 0 10px 0; }
  :global .ms-FacepileExample .ms-Dropdown-container .ms-Label {
    padding-top: 0; }
  :global .ms-FacepileExample .ms-Checkbox {
    padding-top: 15px; }
