/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-MarqueeSelectionBasicExample-photoList {
  display: inline-block;
  border: 1px solid "[theme:neutralTertiary, default: #a6a6a6]";
  margin: 0;
  padding: 10px;
  overflow: hidden;
  user-select: none; }

:global .ms-MarqueeSelectionBasicExample-photoCell {
  position: relative;
  display: inline-block;
  margin: 2px;
  box-sizing: border-box;
  background: "[theme:neutralLighter, default: #f4f4f4]";
  line-height: 100px;
  vertical-align: middle;
  text-align: center; }
  :global .ms-MarqueeSelectionBasicExample-photoCell.is-selected {
    background: "[theme:themeLighter, default: #deecf9]"; }
    :global .ms-MarqueeSelectionBasicExample-photoCell.is-selected:after {
      content: '';
      position: absolute;
      right: 0px;
      left: 0px;
      top: 0px;
      bottom: 0px;
      border: 1px solid "[theme:themePrimary, default: #0078d4]"; }
