/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-CalloutExample-callout {
  max-width: 300px; }

:global .ms-CalloutExample-configArea {
  min-width: 300px;
  display: inline-block; }

:global .ms-CalloutExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  min-width: 130px;
  margin: 0 100px;
  text-align: center;
  height: 32px; }

:global .ms-CalloutCoverExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  margin: 0 100px;
  text-align: center;
  min-width: 130px; }

:global .ms-CalloutCoverExample-buttonArea > .ms-Button {
  text-align: center;
  width: 130px; }

:global .ms-CalloutBasicExample-buttonArea {
  vertical-align: top;
  display: inline-block;
  text-align: center; }

:global .ms-CalloutExample-title {
  font-size: x-large; }

:global .ms-CalloutExample-cmdBarHost {
  width: 350px;
  padding: 10px; }

:global .ms-CalloutExample-inner {
  height: 100%;
  padding: 0 24px 20px; }

:global .ms-CalloutExample-header {
  padding: 18px 24px 12px; }

:global .ms-CalloutExample-title {
  margin: 0;
  font-size: 21px;
  font-weight: 100;
  color: "[theme:neutralPrimary, default: #333333]";
  font-weight: 300; }

:global .ms-CalloutExample-subText {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: "[theme:neutralPrimary, default: #333333]";
  font-weight: 300; }

:global .ms-CalloutExample-link {
  font-size: 14px;
  font-weight: 400;
  color: "[theme:neutralPrimary, default: #333333]"; }

:global .ms-CalloutExample-actions {
  position: relative;
  margin-top: 20px;
  width: 100%;
  white-space: nowrap; }

:global .calloutExampleButton {
  width: 100%; }
