/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-ContextualMenuDirectionalExample {
  position: relative; }

:global .ms-ContextualMenuDirectionalExample-configArea,
:global .ms-ContextualMenuDirectionalExample-buttonArea {
  display: inline-block;
  min-width: 300px; }

:global .ms-ContextualMenuDirectionalExample-buttonArea {
  position: absolute;
  vertical-align: top;
  width: 300px;
  top: 70px;
  margin: 0 100px;
  text-align: center; }

:global .ms-ContextualMenuDirectionalExample-buttonArea .ms-Button {
  text-align: center;
  width: 100%; }

:global .ms-ContextualMenu-customizationExample-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 8px;
  cursor: pointer; }
  :global .ms-ContextualMenu-customizationExample-item:hover {
    background-color: #eaeaea; }

:global .ms-ContextualMenu-customizationExample-categoriesList {
  margin: 0px;
  padding: 0;
  list-style-type: none; }

:global .ms-ContextualMenu-customizationExample-categorySwatch {
  width: 24px;
  height: 24px;
  vertical-align: top; }

:global .ms-ContextualMenu-example-clickableArea {
  background: lightblue;
  border: none;
  font-size: 0;
  height: 200px;
  width: 100%; }

:global .ms-ContextualMenu-customizationExample {
  text-align: center;
  max-width: 180px; }
  :global .ms-ContextualMenu-customizationExample .ms-ContextualMenu-item {
    height: auto; }

:global .ms-ContextualMenu-customizationExample-button {
  max-width: 50%; }

.iconContainer {
  position: relative;
  margin: 0 4px;
  height: 32px;
  width: 14px; }

.logoFillIcon, .logoIcon {
  position: absolute;
  left: 0;
  right: 0;
  color: "[theme:themeDarkAlt, default: #106ebe]"; }

.logoFillIcon {
  color: #FFFFFF; }
