:global .docs-TextFieldExample .ms-TextField {
  margin: 0 0 15px 0;
  max-width: 300px; }

:global .docs-TextFieldErrorExample .ms-TextField,
:global .docs-TextFieldErrorExample .NumberTextField {
  margin: 0 0 15px 0;
  max-width: 600px; }

:global .docs-TextFieldErrorExample .NumberTextField .ms-TextField {
  margin: 0 0 5px 0; }
