/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
.root {
  -webkit-font-smoothing: antialiased;
  background-color: "[theme:white, default: #ffffff]";
  border: 1px solid "[theme:neutralLight, default: #eaeaea]";
  box-sizing: border-box;
  max-width: 320px;
  min-width: 206px;
  user-select: none;
  position: relative; }

.rootIsActionable:hover {
  cursor: pointer;
  border-color: "[theme:neutralTertiaryAlt, default: #c8c8c8]"; }
  .rootIsActionable:hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid "[theme:neutralTertiaryAlt, default: #c8c8c8]";
    pointer-events: none; }

.location + .title {
  padding-top: 4px; }

.rootIsCompact {
  display: flex;
  max-width: 480px;
  height: 109px; }
  .rootIsCompact :global(.ms-DocumentCard-details) {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    overflow: hidden; }
  .rootIsCompact .preview {
    border-bottom: none;
    max-height: 106px;
    max-width: 144px; }
    .rootIsCompact .preview .icon :global(.ms-Image-image) {
      max-height: 32px;
      max-width: 32px; }
  html[dir='ltr'] .rootIsCompact .preview {
    border-right: 1px solid "[theme:neutralLight, default: #eaeaea]"; }
  html[dir='rtl'] .rootIsCompact .preview {
    border-left: 1px solid "[theme:neutralLight, default: #eaeaea]"; }
  .rootIsCompact .previewIconContainer {
    height: 100%; }
  .rootIsCompact .title {
    padding: 12px 16px 8px 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px; }
  .rootIsCompact .activity {
    padding-bottom: 12px; }

/** Actions **/
.actions {
  height: 34px;
  padding: 4px 12px;
  position: relative; }

.action {
  color: "[theme:neutralSecondary, default: #666666]";
  cursor: pointer; }
  html[dir='ltr'] .action {
    float: left; }
  html[dir='rtl'] .action {
    float: right; }
  [dir='ltr'] .action {
    margin-right: 4px; }
  [dir='rtl'] .action {
    margin-left: 4px; }
  .action :global(.ms-Button) {
    font-size: 16px;
    height: 34px;
    width: 34px; }
  .action :global(.ms-Button:hover) :global(.ms-Button-icon) {
    color: "[theme:buttonText, default: #333333]";
    cursor: pointer; }

.views {
  line-height: 34px; }
  html[dir='ltr'] .views {
    text-align: right; }
  html[dir='rtl'] .views {
    text-align: left; }

.viewsIcon {
  font-size: 16px;
  vertical-align: top; }
  [dir='ltr'] .viewsIcon {
    margin-right: 8px; }
  [dir='rtl'] .viewsIcon {
    margin-left: 8px; }

/** Activity **/
.activity {
  padding: 8px 16px;
  position: relative; }

html[dir='ltr'] .activityIsMultiplePeople .avatar:nth-of-type(2) {
  margin-left: -16px; }

html[dir='rtl'] .activityIsMultiplePeople .avatar:nth-of-type(2) {
  margin-right: -16px; }

[dir='ltr'] .activityIsMultiplePeople .activityDetails {
  left: 72px; }

[dir='rtl'] .activityIsMultiplePeople .activityDetails {
  right: 72px; }

.avatars {
  height: 32px; }
  html[dir='ltr'] .avatars {
    margin-left: -2px; }
  html[dir='rtl'] .avatars {
    margin-right: -2px; }

.avatar {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  width: 32px;
  height: 32px; }
  .avatar:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid "[theme:white, default: #ffffff]";
    border-radius: 50%; }

.activityDetails {
  height: 32px;
  position: absolute;
  top: 8px;
  width: calc( 100% - 72px); }
  [dir='ltr'] .activityDetails {
    left: 56px; }
  [dir='rtl'] .activityDetails {
    right: 56px; }

.name,
.activityActivity {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: "[theme:neutralSecondary, default: #666666]";
  line-height: 15px;
  height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.name {
  color: "[theme:neutralPrimary, default: #333333]";
  font-weight: 600; }

/** Location **/
.location {
  font-size: 12px;
  font-weight: 400;
  color: "[theme:neutralPrimary, default: #333333]";
  display: block;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .location:hover {
    color: "[theme:themePrimary, default: #0078d4]";
    cursor: pointer; }

/** Preview **/
.preview {
  border-bottom: 1px solid "[theme:neutralLight, default: #eaeaea]";
  position: relative;
  background-color: "[theme:neutralLighterAlt, default: #f8f8f8]";
  overflow: hidden; }
  .preview.previewIsFileList {
    background-color: "[theme:white, default: #ffffff]"; }

.previewIconContainer {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon {
  bottom: 10px;
  position: absolute; }
  [dir='ltr'] .icon {
    left: 10px; }
  [dir='rtl'] .icon {
    right: 10px; }

.fileList {
  padding: 16px 16px 0 16px;
  list-style-type: none;
  margin: 0; }
  html[dir='rtl'] .fileList {
    padding: 16px 16px 0 16px; }
  .fileList li {
    height: 16px;
    line-height: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    [dir='ltr'] .fileList li {
      padding-left: 24px; }
    [dir='rtl'] .fileList li {
      padding-right: 24px; }
  .fileList a {
    font-size: 12px;
    text-decoration: none;
    color: "[theme:neutralDark, default: #212121]"; }
    .fileList a:hover {
      color: "[theme:themePrimary, default: #0078d4]"; }

.fileListIcon {
  position: absolute;
  top: 0; }
  [dir='ltr'] .fileListIcon {
    left: 0; }
  [dir='rtl'] .fileListIcon {
    right: 0; }

.fileListMore {
  padding: 0px 16px 8px 16px;
  display: block;
  font-size: 12px; }
  html[dir='rtl'] .fileListMore {
    padding: 0px 16px 8px 16px; }

/** Title **/
.title {
  padding: 8px 16px;
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: "[theme:neutralPrimary, default: #333333]";
  height: 38px;
  line-height: 21px;
  overflow: hidden;
  word-wrap: break-word; }

.secondaryTitle {
  padding: 8px 16px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: "[theme:neutralSecondary, default: #666666]";
  line-height: 18px;
  overflow: hidden;
  word-wrap: break-word;
  height: 45px; }

.logo {
  font-size: 32px;
  color: "[theme:themePrimary, default: #0078d4]";
  display: block;
  padding: 16px 16px 0 16px; }
  [dir='rtl'] .logo {
    padding: 16px 16px 0 16px; }

.status {
  margin: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: "[theme:neutralPrimary, default: #333333]";
  background-color: "[theme:neutralLighter, default: #f4f4f4]";
  height: 32px; }
  [dir='rtl'] .status {
    margin: 8px 16px 8px 16px; }
