:global .ms-SelectionItemExample-check {
  display: inline-block;
  cursor: default;
  padding: 11px 8px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  background-color: transparent;
  border: none; }

:global .ms-SelectionItemExample:hover {
  background: #EEE; }

:global .ms-SelectionItemExample-link {
  display: inline-block;
  overflow: hidden;
  height: 36px;
  cursor: default;
  padding: 8px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  background-color: transparent;
  border: none; }

:global .ms-SelectionItemExample-name {
  display: inline-block;
  overflow: hidden;
  height: 36px;
  cursor: default;
  padding: 8px;
  box-sizing: border-box;
  vertical-align: top;
  background: none;
  background-color: transparent;
  border: none; }
