/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
.personaContainer {
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  background: "[theme:neutralLighter, default: #f4f4f4]";
  margin: 4px;
  cursor: default;
  user-select: none;
  max-width: 300px;
  vertical-align: middle; }
  .personaContainer::-moz-focus-inner {
    border: 0; }
  .personaContainer {
    outline: transparent; }
  .personaContainer {
    position: relative; }
  :global(.ms-Fabric--isFocusVisible) .personaContainer:focus:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    pointer-events: none;
    border: 1px solid "[theme:focusBorder, default: #000000]"; }
  .personaContainer:hover {
    background: "[theme:neutralLight, default: #eaeaea]"; }
    .personaContainer:hover .removeButton {
      color: "[theme:neutralPrimary, default: #333333]"; }
  .personaContainer.personaContainerIsSelected {
    background: "[theme:blue, default: #0078d4]"; }
    .personaContainer.personaContainerIsSelected :global(.ms-Persona-primaryText) {
      color: "[theme:white, default: #ffffff]"; }
      @media screen and (-ms-high-contrast: active) {
        .personaContainer.personaContainerIsSelected :global(.ms-Persona-primaryText) {
          color: HighlightText; } }
    .personaContainer.personaContainerIsSelected .removeButton :global(.ms-Button-icon) {
      color: "[theme:white, default: #ffffff]"; }
      @media screen and (-ms-high-contrast: active) {
        .personaContainer.personaContainerIsSelected .removeButton :global(.ms-Button-icon) {
          color: HighlightText; } }
    .personaContainer.personaContainerIsSelected .removeButton:hover {
      color: "[theme:white, default: #ffffff]";
      background: "[theme:themeDark, default: #005a9e]"; }
    @media screen and (-ms-high-contrast: active) {
      .personaContainer.personaContainerIsSelected {
        border-color: Highlight;
        background: Highlight;
        -ms-high-contrast-adjust: none; } }
  .personaContainer.validationError :global(.ms-Persona-primaryText) {
    color: "[theme:redDark, default: #a80000]";
    border-bottom: 2px dotted "[theme:redDark, default: #a80000]"; }
  .personaContainer.validationError :global(.ms-Persona-initials) {
    font-size: 20px; }
  .personaContainer.validationError.personaContainerIsSelected {
    background: "[theme:redDark, default: #a80000]"; }
    .personaContainer.validationError.personaContainerIsSelected :global(.ms-Persona-primaryText) {
      color: "[theme:white, default: #ffffff]";
      border-bottom: 2px dotted "[theme:white, default: #ffffff]"; }
    .personaContainer.validationError.personaContainerIsSelected .removeButton:hover {
      background: "[theme:red, default: #e81123]"; }
  @media screen and (-ms-high-contrast: active) {
    .personaContainer {
      border: 1px solid WindowText; } }
  .personaContainer .itemContent {
    flex: 0 1 auto;
    min-width: 0px;
    /** CSS below is needed for IE 11 to properly truncate long persona names in the picker **/
    max-width: 100%;
    overflow-x: hidden; }
  .personaContainer .removeButton {
    border-radius: 15px;
    flex: 0 0 auto;
    width: 28px;
    height: 28px;
    flex-basis: 28px; }
    .personaContainer .removeButton:hover {
      background: "[theme:neutralTertiaryAlt, default: #c8c8c8]";
      color: "[theme:neutralDark, default: #212121]"; }
  .personaContainer .personaDetails {
    flex: 0 1 auto; }

.itemContainer {
  display: inline-block;
  vertical-align: top; }
