/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .LayerExample-content {
  background-color: "[theme:themePrimary, default: #0078d4]";
  color: "[theme:white, default: #ffffff]";
  line-height: 50px;
  padding: 0 20px;
  display: flex; }

:global .LayerExample-textContent {
  flex-grow: 1; }

:global .LayerExample-nonLayered {
  background-color: "[theme:neutralTertiaryAlt, default: #c8c8c8]";
  line-height: 50px;
  padding: 0 20px;
  margin: 8px 0; }

:global .ms-LayerHost.LayerExample-customHost {
  height: 100px;
  padding: 20px;
  background: rgba(255, 0, 0, 0.2);
  border: 1px dashed black;
  position: relative; }

:global .LayerExample-customHost:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: 'I am a LayerHost with id=layerhost1'; }
