/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/*
    Common CSS property mixins with support for RTL.
    Use these mixins when you want to automatically create RTL versions of your properties.
    They are in alphabetical order (a-z).
*/
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
/* Base slots */
/* Input controls */
/* Buttons */
/* Menus */
/* Lists */
:global .ms-OverflowSet .ms-SearchBox {
  margin-bottom: 0;
  width: 200px; }

html[dir='ltr'] .overflowLinks {
  margin-right: 10px; }

html[dir='rtl'] .overflowLinks {
  margin-left: 10px; }

.overflowButton {
  min-width: 0;
  padding: 0 4px;
  align-self: stretch;
  height: auto; }

.isEnabled.isOpened:hover {
  background-color: "[theme:neutralQuaternaryAlt, default: #dadada]";
  color: "[theme:black, default: #000000]"; }

.isEnabled:hover, .isEnabled.isOpened {
  color: "[theme:neutralDark, default: #212121]";
  background-color: "[theme:neutralLight, default: #eaeaea]"; }

.isEnabled:active {
  background-color: "[theme:neutralQuaternaryAlt, default: #dadada]";
  color: "[theme:black, default: #000000]"; }
